@import url('https://fonts.cdnfonts.com/css/pokemon-hollow');
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'PokeGB';
  src: url('/fonts/PokemonGb-RAeo.ttf');
}

@font-face {
  font-family: 'PokeJp';
  src: url('/fonts/PokemonGbJapanKt-8Rw2.ttf');
}

@font-face {
  font-family: 'PokeHira';
  src: url('/fonts/PokemonGbJapanHrregular-Bq93.ttf');
}

@font-face {
  font-family: 'DotJP';
  src: url('/fonts/BestTen-CRT.otf');
}
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.gray-shadow {
  text-shadow: 2px 2px 4px rgba(65, 53, 53, 0.63);
}

.gold-shadow {
  text-shadow: 2px 3px 4px rgba(255, 224, 50, 0.931);
}

@keyframes myBounce {
  0%,
  25% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
  50% {
    transform: translateY(-25%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  75% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.myBounce {
  animation: myBounce 3s infinite;
}

.return-button {
  background-color: gold;
}

.yellow-button {
  @apply w-[10rem] bg-yellow-400 active:bg-yellow-500 active:ring-blue-700 gray-shadow max-w-[150px] font-extrabold text-white py-2 px-4 rounded-md border-solid border-4 ring-4 hover:ring-blue-500 shadow-2xl hover:shadow-none transition-all duration-200;
}
